/* #linha, #linha2, #linha3, #linha4 {
	margin-top: -6px;
	color: azure;
} */
.linha {
	border-bottom: 2px solid rgba(255, 255, 255);
}
/*
#blocoCima {
	width: 390px;
	padding-top: 32px;
	padding-bottom: 30px;
	box-shadow: 1px 0px 6px black;
	display: flex;
}

 #menu {
	padding-left: 25px;
	padding-top: 5px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-stretch: expanded;
} */


/* #iconeMenu {
	width: 30px;
	padding-left: 150px;
}

#imagem {
	display: flex;
} */
article{
	display: flex;
	flex-direction: column;
}
#mostrarMais, #verMais {
	display: none;
}

.flexmain{
	display: flex;
	flex-direction: column;
}

#sobre, #cursosIf {
	color: azure;
	font-size: 30px;
	margin: 15px;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

p {
	color: azure;
	padding: 8px 10px;
	font-size: 1rem;
	/* margin-top: 10px; */
	max-width: 95%;
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}
p > span, p + button {
	text-align: center;
}
article > h1 {
	text-align: center;
}
#btnLeiaMais, #btnVerMais {
	border: none;
	margin:10px 0;
	color: rgb(13, 19, 33);
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.2rem;

	color: azure;
	background-color: rgb(13, 19, 33);
	text-decoration: underline;
	transition: 0.5s;

}

#cursos {
	color: azure;
	font-size: 16px;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding-top: 40px;
}

#endereco {
	color: azure;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#mapa {
	display: flex;
	justify-content: center;
}

#curso1, #curso2, #curso3, #curso4, #curso5, #curso6,
#curso7, #curso8, #curso9, #curso10, #curso11, #curso12,
#curso13, #curso14, #curso15 {
	border: 0.5px;
	border-style: solid;
	padding: 4px;
	width: 85%;
	margin-left: 6.5%;
}

#curso1 > *, #curso2 > *, #curso3 > *, #curso4 > *, #curso5 > *, #curso6 > *,
#curso7 > *, #curso8 > *, #curso9 > *, #curso10 > *, #curso11 > *, #curso12 > *,
#curso13 > *, #curso14 > *, #curso15 > * {
	margin: 6px 0px 6px 0px;
	display: flex;
	justify-content: center;
}

